*{font-family:arial,verdana;}
.fm{
    margin:0;
    padding:5px 5px;
}
.fmDetail{
    margin:0;
    padding:5px 5px;
}
.ftitle{
    font-size:14px;
    font-weight:bold;
    color:#666;
    padding:5px 0;
    margin-bottom:3px;
    border-bottom:1px solid #ccc;
}
.fitem{
    margin-bottom:2px;
}
.fitem label{
    width:26%;
    text-align:right;
}
/*.fitem label{
        display:inline-block;
        width:30%;
        background-color: #F5F5F5;
        vertical-align: middle;
        border: 1px solid #D4D4D4;
        overflow: hidden;
        white-space: nowrap;
        border-radius: 5px 5px 5px 5px;
        box-sizing: border-box;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: right;
}*/

#fmhead {
    width:100%;
    margin:0 auto;
}

#headkiri {
    float:left; 
    width:49%;
    margin-right: 2%;
}

#headkanan {
    float:left; 
    width:49%;
}

.icon-filter{
    background:url('{base_url}asset/image/filter.png') no-repeat center center;
}

#tombol-ubah{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}